@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #F2F1F0;
    margin: 0;
    padding: 0;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #444444;
}

#nav-container img {
    margin: 7px 0 0 7px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 30px 30px;
}

a {
    padding-right: 15px;
}
a:link {
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

#landing {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 150px 0 210px 0;
}

#introduction {
    padding: 0 100px;
    width: 600px;
    
}

#introduction h1,h2,h3, p{
    margin: 0 0;
}

#about {
    padding-top: 30px;
}

#education {
    background-color: #B6CBE1;
    padding: 40px 30px 60px 30px;
}

#edu-title {
    text-align: center;
    padding-bottom: 10px;
}

#edu-table {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.edu-item {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}

.edu-item table{
    text-align: center;
}

.edu-item td{
    padding: 10px;
    text-align: center;
}

#work-experience {
    padding: 40px 30px 60px 30px;
}

#exp-title {
    text-align: center;
    padding-bottom: 15px;
}

#exp-table {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10px;
}

.exp-item {
    margin: 0 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

#projects {
    padding: 40px 30px 60px 30px;
    background-color: #B6CBE1;

}

#projects-title {
    text-align: center;
}

#projects-ul ul{
    display: flex;
    flex-direction: column;
}

.p-item {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 15px;
    border-radius: 10px;
}

.p-img {
    margin-right: 20px;
    background-color: white;
    border-radius: 10px;
}

.p-img img{
    width: 300px;
    margin: 8px 8px 3px 8px;
    border-radius: 10px;
}

#knowledge {
    display: flex;
    justify-content: space-around;
    padding: 40px 30px 60px 30px;
}

#skills-title {
    text-align: center;
}

#skills-ul li{
   display: inline;
   list-style: none;
   width: 100px;
}

#skills-ul ul{
    padding: 0;
 }

#skills-ul {
    background-color: white;
    padding: 0 10px 6px 10px;
    border-radius: 10px;
 }

 #cw-title {
    text-align: center;
    padding-bottom: 10px;
 }

 #cw-ul {
    background-color: white;
    padding: 10px 15px 10px 10px;
    border-radius: 10px;
 }

 #socials {
    padding: 40px 0 20px 0;
    text-align: center;
    background-color: #B1B1B1;
    color: white;
 }

 #socials a:visited {
    color: white;
 }

 #socials a:hover {
    color: #444444;
 }

 #socials a {
    padding: 10px;
 }