@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0px;
}

.navitem {
    padding: 10px 15px 10px 0px;
}

#block-1 {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin: 0 auto;
}

#introduction {
    padding-right: 10px;
}

#introduction h1,h2,h3{
    margin: 0 0;;
}